# Ignore files without an extension
*.[^/]*$

# Ignore the following directories
help/build/


# Ignore object files (.o)
*.o
*.exe
*.bin

# Ignore any other file patterns you might want (optional)
# For example, ignoring build directories or log files
build/
*.log
