# Ignore files without an extension
#*.[^/]*$

# Ignore files without an extension in all subdirectories
#**/*.[^/]*$

# Ignore files without an extension
#**/*[^/]*



# Ignore the following directories
help/build/
raylib_build/Game_1/build/


# Ignore object files (.o)
*.o
*.exe
*.bin

# Ignore any other file patterns you might want (optional)
# For example, ignoring build directories or log files
build/
*.log
